p {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 10px;
  color: lightslategray;
}

.top {
  font-weight: bolder;
}

.heading {
  font-size: 70px;
  position: absolute;
  right: 180px;
  top: 125px;
  font-family: "Amatic SC", cursive;
}

.props {
  color: gray;
}

.start {
  font-family: "Neucha", cursive;
}

.col {
  font-family: "Amatic SC", cursive;
}

.container {
  background: linear-gradient(179.7deg,
      rgb(248, 126, 126) -0.5%,
      rgb(251, 206, 143) 35.3%,
      rgb(184, 252, 233) 67.2%,
      rgb(118, 162, 229) 92.3%);
  border: 10px solid black;
  border-radius: 20px;
}

.App {
  margin: 30px auto;
  max-width: 1100px;
}