.cloud,
.sun {
    font-size: 100px;
}

.deg,
.far {
    color: black;
    text-decoration: none;
}

.deg:hover,
.far:hover {
    color: brown;
}

.sunny {
    height: 120px;
}

.des {
    text-transform: capitalize;
}